
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-style: italic;
}

/* HAUT DE PAGES */

header.haut img
{
    width: 100px;
    border-radius: 70px;
    margin-right: auto;
}


body        /*remplisage*/
{
    margin: auto;
}

/* Barre de menu */
header.haut     
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -35px;

}


.head
{
    align-items: center;
}

nav.nav
{
    display: flex;
    list-style: none;
    justify-content: center;
    width: 50px;
    flex-grow: 1;
}

nav.nav li
{
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    color: black;
    border: solid;
    border-radius: 25px 25px 25px 25px;
    border-color: rgb(128,191,255);
    border-width: 3.5px;
    background-color:rgb(230,255,255);
    padding: 10px 15px;

}

/* Image en arrière plan */
section.haut_de_page
{
    background: url("../img/Diplome.png");
    height: 80vh;
    background-size: cover;
    opacity: 0.90;
    padding: 60px;
}

/* Titre de bienvenue */

h1.Titre
{
    color: white;
    padding: 200px 40px;
    margin: auto;
    text-shadow: -4px 6.5px 3px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    border-radius: 25px 25px 25px 25px;
    border-color: black;
    font-size: 50px;
    letter-spacing: 3px;
}
